body{
    background-image: url(bg.svg); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}
#logo,h3,h1,h5,button{
    font-family: 'Love Ya Like A Sister', cursive !important; 
}
